
#user-profile {
  border: 2px dotted black;
}

/*#to-watch-container {
  border: 2px solid pink;
}

#watched-container {
  border: 2px solid gold;
}*/

/* USER PROFILE */
#want-movie-div {
  border: 2px solid black;
}

#seen-movie-div {
  border: 2px solid black;
}

.to-see-indiv {
  border: 1px solid black;
}

.seen-indiv {
  border: 1px solid black;
}

.single-movie-profile {
  border: 3px black solid;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  width: 350px;
}
